<div id="search">

  
<form>
<%= form_tag topics_path, :method => 'get', :id => "topics_search", :remote => true do %>

<ul>
  <li>
  <fieldset>
  <legend>Article Search</legend>
  <%= text_field_tag :search_query, params[:search_query], :size => "50" %>
  <span>Enter a Search</span>
  </li>

  <li>
  <%= submit_tag "Search", :name => nil  %>
  </li>
</ul>

<% end %>
</form>


  <%= render 'topics/list_search' %>

</div> 

<style type="text/css">
  
#search{
    padding-top:20px;
    padding-bottom:20px;
    width:960px;
    margin: 0 auto 0 auto;
    
}

#search form{
    
    width:460px;
    float: left;
    background-color: #fff;
}

#search p{
    
    min-width:460px;
    margin-left: 0px;
    float: left;
    text-align:right;
    margin-top:20px;
    text-align: right;
    padding: 10px 0px 10px 20px;
    border-bottom:1px solid #ccc;
}
#search p a{
    float:right;
    clear: right;
    color: #222;

}

#search p a:first-letter{
    font-weight: bold;
    margin-right:1px;
    font-size:18px;
}
  
</style>